body{
    background-color: beige;
}
.header{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: 900;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;  
}
.head-01{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    font-weight: 500;
    color: rgb(119, 10, 221);
}
.Define{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}
.steps{
    font-family: 'Libre Baskerville', serif;
}
footer{
    text-transform: uppercase;
    color: red;
    text-align: center;
    text-decoration: underline;
}